@import 'reset';
@import 'mixin';


body {
    background-color: black;
    @include breakpoint(800px) {

    }
}

.header-with-content {
	height: 6rem;
	@include tablet {
		height: 4rem;
		margin-right: 2.6rem;
	}
	transition: all 0.8s ease-in-out;
}

header {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    max-width: 1600px;
    transition: all 0.8s ease-in-out;

    .logo {
     padding: 6rem;
       
        

        .selecter {
            margin-bottom: 5px;
            font-size: larger;
            color: #ffffff;
        
            .dropdown {
                width: 400px;
                font-size: larger;
          
            }
          
                        
        }           


    }

}


.show{
    display: block;
    animation-duration: 0.5s;
    

} 

.loader{
    display: none;
    width: 50px;
    height: 50px;
}




.display-grid {

    padding-top: 1rem;
    min-width: 600px;
    margin: 0 auto;
    min-height: 600px;
    margin: 1px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
        @include breakpoint(500px) {
            grid-template-columns: repeat(4, 1fr);
            max-width: 100%;
        }
}

.articalbox {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    max-width: 600px;
    background-size: cover;
    color: #ffffff;
}


.articalimage {
    flex-direction: column;
    height: 250px;
    width: 356px;
    position: relative;
    background-size: cover;
    align-items: stretch;
}

.abstractstyle {
    background-color: black;
    opacity: 0.6;
    width: 356px;

    position: absolute;
    bottom: 0px;
    color: #ffffff;    
}
// styling for artical links 
a.urllink:link,a.urllink:visited,a.urllink:hover,a.urllink:active{
    color: #ffffff;
    text-decoration: none;
}

 
.footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 10%; 
    color: #c2c2c2;
}






